<!DOCTYPE html>
<html lan="en">
<head>
        <meta charset="utf=8">

        <!-- Icon (not sure if we wanted an icon) -->>
        <link  rel="icon" href ="">

        <!-- External CSS -->>
        <link rel="stylesheet" href="css/style.css">
        
        <title>Recip-Ease</title>

</head>

<body>

        <!-- Header (not sure if we wanted a logo either)-->>
        <header>
            <div class="logo-box">
                <img class="header" src="" alt="">
            </div>
        </header>

        <!-- Navigation Bar-->
         <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="list.html">Recipe List</a></li>
                <li><a href="details.html">Recipe Details</a></li>
                <li><a href="users.html">User Profile</a></li>
            </ul>
         </nav>


    <!-- Page Content -->
     <main>
        <h2>Welcome to Recip-Ease</h2>
        <p>
            ##### Group member names here
        </p>
        <p>
            ##### Add info on our site here
        </p>
        <p>
            ##### Add info on our database
        </p>
     </main>

     <script src="/js/w3c.js"></script>
</body>
</html>